body {
    font-family: "Helvetica", sans-serif;
}

body * {
    box-sizing: border-box;
}

.HeaderBackground {
  position: relative;
  background-image: url('./img/Cover.png');
  width: 100%;
  height: 89vw;
  max-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 0 30px;
}

.HeaderFader {
  position: absolute;
  width: 100%;
  height: 89vw;
  max-height: 350px;
  color: #fff;
  background-color: rgba(17, 11, 19, 0.45);
}

.HeaderNavButton {
  background-image: url('./img/menu_burger.svg');
  margin-top: 5px;
  margin-left: 90%;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.HeaderLogo img {
  position: relative;
  display: flex;
  float: left;
  width: 80px;
  margin: 8px 8px;
}

.li-hide {
  display: none;
}

.Fader nav {
  width: auto;
  margin: 0 0 0 auto;
}

.HeaderFader nav ul  {
  display: flex;
  padding-top: 5px;
  padding-left: 240px;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.HeaderFader nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.HeaderFader nav ul li a:hover{
  text-decoration: underline;
}

.HeaderFader h1 {
  padding-top: 45px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

.HeaderFader p {
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  padding-top: 6px;
}

.HeaderMoreInfo p {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height:15px;
}

.HeaderButtonSurvey {
  text-align: center;
}

.btn-survey {
  padding: 6px 5px 5px 5px;
  transition: all 400ms ease;
  text-decoration: none;
  color: #fff;
  background-color: rgb(83, 208, 117);
  font-size: 14px;
  font-weight: 800;
}

.btn-survey a:hover {
  padding: 6px 5px 5px 5px;
  transition: all 400ms ease;
  text-decoration: none;
  color: rgb(83, 208, 117);
  background-color: #fff;
  font-size: 14px;
  font-weight: 800;
}

main {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgb(20, 20, 20);
}

.MainHowItWorks h1 {
  padding-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.MainHowItWorksImg, .MainWeWillHelpImg {
  text-align: center;
}

.MainHowItWorks img {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 35px;
  height: 50px;
}

.MainHowItWorks p {
  margin-bottom: 10px;

  text-align: center;

  font-size: 13px;

  line-height:15px;
}

.MainIndividualTrip, .MainPopularDestinations {
  padding-left: 10px;
}

.MainIndividualTrip h1, .MainPopularDestinations h1 {
  padding-top: 17px;
  margin-right: 5px;
  text-align: left;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
}

.MainIndividualTrip h2, .MainPopularDestinations h2{
  font-size: 13px;
  font-weight: 500;
}

.MainIndividualTrip h2 a, .MainPopularDestinations h2 a {
  color: rgb(83, 208, 117);
}

.Family, .Friends, .Couples, .Active, .France, .Iceland, .USA, .Italy  {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
  margin-right: 10px;
  height: 62vw;
}

.FaderFamily, .FaderFriends, .FaderCouples, .FaderActive, .FaderFrance, .FaderIceland, .FaderUSA, .FaderItaly {
  position: absolute;
  width: 100%;
  height: 62vw;
  margin-right: 10px;
  color: #fff;
}

.FaderFamily {
  background-color: rgba(27, 19, 1, 0.25);
}

.FaderFriends {
  background-color: rgba(25, 34, 36, 0.25);
}

.FaderCouples {
  background-color: rgba(35, 40, 40, 0.25);
}

.FaderActive {
  background-color: rgba(23, 41, 55, 0.25);
}

.FaderFamily h2, .FaderFriends h2, .FaderCouples h2, .FaderActive h2, .FaderFrance h2, .FaderIceland h2, .FaderUSA h2, .FaderItaly h2 {
  text-align: center;
  padding-top: 30%;
  line-height: 27px;
}

.FaderFamily h2 a, .FaderFriends h2 a, .FaderCouples h2 a, .FaderActive h2 a, .FaderFrance h2 a, .FaderIceland h2 a, .FaderUSA h2 a, .FaderItaly h2 a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}

.FaderFamily h2 a:hover, .FaderFriends h2 a:hover, .FaderCouples h2 a:hover, .FaderActive h2 a:hover, .FaderFrance h2 a:hover, .FaderIceland h2 a:hover, .FaderUSA h2 a:hover, .FaderItaly h2 a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 800;
}

.MainIndividualTripExtraInfo {
  font-size: 13px;
  font-weight: 500;
  margin-top: 3px;
}

.Family {
  background: url(img/Family.png);
  background-size: cover;
}

.Friends {
  background: url(img/Friends.png);
  background-size: cover;
}

.Couples {
  background: url(img/Couples.png);
  background-size: cover;
}

.Active {
  background: url(img/Active.png);
  background-size: cover;
}

.MainWeWillHelp {
  margin-top: 20px;
  position: relative;
  background: url(img/MachuPicchu.jpg);
  background-size: cover;
  width: 100%;
  height: 67vw;
  max-height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.MainWeWillHelpFader {
  position: absolute;
  width: 100%;
  height: 67vw;
  max-height: 220px;
  color: #fff;
  background-color: rgba(19, 18, 14, 0.45);
}

.MainWeWillHelp h2 {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}

.MainWeWillHelp img {
  margin-top: 7px;
  width: 25px;
  height: 30px;
}

.MainWeWillHelp p {
  margin-bottom: 3px;

  text-align: center;

  font-size: 13px;

  line-height:15px;
}

.MainWeWillHelp p p {
  font-weight: 800;
}

.MainPopularDestinationsInfo p{
  font-size: 13px;
  font-weight: 500;
  padding-top: 1px
}

.MainPopularDestinationsInfo h2 {
  font-size: 13px;
  font-weight: 800;
  margin-top: 3px;
}

.France {
  background: url(img/France.png);
  background-size: cover;
}

.Iceland {
  background: url(img/Iceland.png);
  background-size: cover;
}

.USA {
  background: url(img/USA.png);
  background-size: cover;
}

.Italy {
  background: url(img/Italy.png);
  background-size: cover;
}

.FaderFrance {
 background-color: rgba(60, 59, 50, 0.25);
}

.FaderIceland {
 background-color: rgba(25, 34, 36, 0.25);
}

.FaderUSA {
 background-color: rgba(42, 38, 36, 0.40);
}

.FaderItaly {
 background-color: rgba(19, 36, 47, 0.39);
}

.stars {
  font-size: 13px;
  font-weight: 800;
  padding-top: 1px;
  display: flex;
  color: rgb(83, 208, 117);
}

.stars h3, .MainMoreOptions h2 {
  margin-right: 3px;
}


.MainMoreOptions {
  color: rgb(83, 208, 117);
  display: flex;
  margin-top: 16px;
  margin-bottom: 20px;
}

.MainMoreOptions h2 a {
 text-decoration: none;
 margin-top: 16px;
 color: rgb(83, 208, 117);
 font-size: 13px;
 font-weight: 800;
}

.MainFindOutMore h2 {
 padding-top: 10px;
 text-align: center;
 color: #fff;
 font-size: 13px;
 font-weight: 800;
 line-height: 12px;
}

.MainFindOutMoreImg {
  margin-top: 10px;
  position: relative;
}

.MainFindOutMoreImg1 img, .MainFindOutMoreImg2 img {
  display: inline-flex;
  width: 30%;
  height: 30%;
}

.MainFindOutMoreImg1, .MainFindOutMoreImg2{
  text-align: center;
}

.MainFindOutMoreImg img a:hover {
 opacity: 1;
 background-color: (0, 0, 0, 0.25)
 cursor: pointer;
}

footer {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgb(20, 20, 20);
}

.footer img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.footer {
  text-align: right;
}
