body {
  font-family: "Helvetica", sans-serif;
}

.Background {
  position: relative;
  background: url(img/Cover.png);

  width: 360px;
  height: 250px;
  max-height: 1084px;
  background-size: cover;
}

.Fader {
  position: absolute;

  width: 360px;
  height: 250px;

  color: #fff;
  background-color: rgba(17, 11, 19, 0.45);
}

.Logo img {
  float: left;
  width: 70px;
  height: auto;

  padding: 5px 5px;
}


.li-hide {
  display: none;
}

.Fader nav {
  width: auto;
  margin: 0 0 0 auto;
}

.Fader nav ul  {
  display: flex;
  padding-top: 5px;
  padding-left: 240px;

  justify-content: space-between;
  align-items: center;
}

.Fader nav ul li a {
  display: block;

  text-decoration: none;

  color: #fff;

  font-size: 15px;
  font-weight: 700;
}

.Fader nav ul li a:hover{
  text-decoration: underline;
}

.Fader h1 {

  padding-top: 45px;

  text-align: center;

  color: #fff;

  font-size: 45px;
  font-weight: 800;
}

.Fader p {
  text-align: center;

  font-size: 16px;
  font-weight: 800;
  padding-top: 6px;
}

.Part2 p {
  padding-top: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;

  font-size: 12px;
  font-weight: 500;
  line-height:15px;
}

.btn-survey {
  margin-left: 33%;
  padding: 6px 5px 5px 5px;

  transition: all 400ms ease;
  text-decoration: none;

  color: #fff;
  background-color: rgb(83, 208, 117);

  font-size: 12px;
  font-weight: 800;
}

.btn-survey a:hover {
  margin-left: 33%;
  padding: 6px 5px 5px 5px;

  transition: all 400ms ease;
  text-decoration: none;

  color: rgb(83, 208, 117);
  background-color: #fff;

  font-size: 12px;
  font-weight: 800;
}

main {
  width: 360px;
  height: 100%;

  color: #fff;
  background-color: rgb(20, 20, 20);
}

.Block2 h1 {
  padding-top: 10px;

  text-align: center;

  color: #fff;

  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
}

.Block3 {
  display: block;

  width: 360px;

  justify-content: space-between;
}

.Block3 img {
  margin-top: 5px;

  margin-left: 45%;
  width: 25px;
  height: 33px;

  align-items: center;
}

.Block3 p {
  margin-bottom: 3px;

  text-align: center;

  font-size: 10px;

  line-height:15px;
}

.Block4, .Block6 {
  padding-left: 20px;
}

.Block4 h2, .Block6 h2 {
  padding-top: 17px;

  text-align: left;

  color: #fff;

  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
}

.Block4 h3, .Block6 h3{
  font-size: 10px;
  font-weight: 500;
}

.Block4 h3 a, .Block6 h3 a {
  color: rgb(83, 208, 117);
}

.Family, .Friends, .Couples, .Active, .France, .Iceland, .USA, .Italy  {
  margin-top: 10px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 27px;
  width: 320px;
  height: 197px;
}

.FaderFamily, .FaderFriends, .FaderCouples, .FaderActive, .FaderFrance, .FaderIceland, .FaderUSA, .FaderItaly {
  position: absolute;
  margin-left: 0px;

  width: 320px;
  height: 197px;
  margin-bottom: 28px;

  color: #fff;
}

.FaderFamily {
  background-color: rgba(27, 19, 1, 0.25);
}

.FaderFriends {
  background-color: rgba(25, 34, 36, 0.25);
}

.FaderCouples {
  background-color: rgba(35, 40, 40, 0.25);
}

.FaderActive {
  background-color: rgba(23, 41, 55, 0.25);
}

.FaderFamily h2, .FaderFriends h2, .FaderCouples h2, .FaderActive h2, .FaderFrance h2, .FaderIceland h2, .FaderUSA h2, .FaderItaly h2 {
  text-align: center;
  padding-top: 75px;
}

.FaderFamily h2 a, .FaderFriends h2 a, .FaderCouples h2 a, .FaderActive h2 a, .FaderFrance h2 a, .FaderIceland h2 a, .FaderUSA h2 a, .FaderItaly h2 a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  font-size: 30px;
  font-weight: 500;
}

.FaderFamily h2 a:hover, .FaderFriends h2 a:hover, .FaderCouples h2 a:hover, .FaderActive h2 a:hover, .FaderFrance h2 a:hover, .FaderIceland h2 a:hover, .FaderUSA h2 a:hover, .FaderItaly h2 a:hover {
  background-color: rgba(27, 19, 1, 0.35);
  text-decoration: none;

  color: #fff;

  font-size: 30px;
  font-weight: 800;
}

.FaderFamily p, .FaderFriends p, .FaderCouples p, .FaderActive p {
  font-size: 10px;
  font-weight: 500;
  padding-top: 95px;

}

.Family {
  background: url(img/Family.png);
  background-size: cover;
}

.Friends {
  background: url(img/Friends.png);
  background-size: cover;
}

.Couples {
  background: url(img/Couples.png);
  background-size: cover;
}

.Active {
  background: url(img/Active.png);
  background-size: cover;
}

.Block5 {
  margin-top: 35px;
  position: relative;
  background: url(img/MachuPicchu.jpg);
  background-size: cover;
  width: 360px;
  height: 200px;
}

.Block5Fader {

  position: absolute;

  width: 360px;
  height: 200px;

  color: #fff;
  background-color: rgba(19, 18, 14, 0.45);
}

.Block5 h2 {
  text-align: center;
  padding-top: 6px;
  text-transform: uppercase;

  color: #fff;

  font-size: 12px;
  font-weight: 800;
}

.Block5 img {
  margin-top: 5px;

  margin-left: 45%;
  width: 25px;
  height: 30px;

  align-items: center;
}

.Block5 p {
  margin-bottom: 3px;

  text-align: center;

  font-size: 10px;

  line-height:15px;
}

.Block5 p p {
  font-weight: 800;
}

.France {
  background: url(img/France.png);
  background-size: cover;
}

.Iceland {
  background: url(img/Iceland.png);
  background-size: cover;
}

.USA {
  background: url(img/USA.png);
  background-size: cover;
}

.Italy {
  background: url(img/Italy.png);
  background-size: cover;
}

.France, .Iceland, .USA, .Italy {
  margin-bottom: 37px;
}

.FaderFrance {
 background-color: rgba(60, 59, 50, 0.25);
}

.FaderIceland {
 background-color: rgba(25, 34, 36, 0.25);
}

.FaderUSA {
 background-color: rgba(42, 38, 36, 0.40);
}

.FaderItaly {
 background-color: rgba(19, 36, 47, 0.39);
}

.FaderFrance p, .FaderIceland p, .FaderUSA p, .FaderItaly p {
  font-size: 10px;
  font-weight: 800;
  padding-top: 65px;
}

.France1 p, .Iceland1 p, .USA1 p, .Italy1 p {
  font-size: 10px;
  font-weight: 500;
  padding-left: 0px;
  padding-top: 0px;
}

.France h3, .Iceland h3, .USA h3, .Italy h3 {
  font-size: 10px;
  font-weight: 800;
  padding-top: 0px;
}

.France h3, .Iceland h3, .USA h3, .Italy h3 {
  color: rgb(83, 208, 117);
}

.Observe h3 {
 margin-top: 16px;
 margin-bottom: 20px;
}

.Observe h3 a {
 text-decoration: none;
 margin-top: 16px;
 padding-left: 20px;
 color: rgb(83, 208, 117);
 font-size: 12px;
 font-weight: 700;
}

.Block7 {
 background-color: rgb(20, 20, 20);
}

.Block7 h2 {
 padding-top: 10px;

 text-align: center;

 color: #fff;

 font-size: 12px;
 font-weight: 500;
 line-height: 15px;
 margin-bottom: 20px;
}

.Block7Img2 img, .Block7Img3 img {
 width: 100px;
 height: 100px;
}

.Block7Img2 img, .Block7Img3 img {
 width: 100px;
 height: 100px;
}

a.rollover:hover img {
 opacity: 1;
 background-color: (0, 0, 0, 0.25)
 cursor: pointer;
}

.Block7Img2, .Block7Img3 {
 margin-left: 22px;
}

.footer img {
 width: 15px;
 height: 15px;
}

.footer {
 margin-left: 270px;
 margin-top: 15px;
 margin-bottom: 15px;
}
