@media (max-width: 767px) {
  body {
    font-family: "Helvetica", sans-serif;
  }

  .Background {
    position: relative;

    width: 120em;
    height: 58em;

    background: url(img/Cover.png);
    background-size: cover;
  }

  .Fader {
    position: absolute;

    width: 120em;
    height: 58em;

    color: #fff;
    background-color: rgba(17, 11, 19, 0.45);
  }

  .Logo {
    float: left;

    padding: 10px 20px;
  }

  .icon-menu {
    padding-left: 890px;
  }

  .li-hide {
    display: none;
  }

  .Fader nav {
    width: 62.5em;
    margin: 0 0 0 auto;

  }

  .Fader nav ul  {
    display: flex;

    padding: 30px 20px;

    justify-content: space-between;
    align-items: center;
  }

  .Fader nav ul li a {
    display: block;

    text-decoration: none;

    color: #fff;

    font-size: 18px;
    font-weight: 700;
  }

  .Fader nav ul li a:hover{
    text-decoration: underline;
  }

  .Fader h1 {
    margin-bottom:70px;
    padding-top: 350px;

    text-align: center;

    color: #fff;

    font-size: 70px;
    font-weight: 800;
  }

  .Fader p {
    text-align: center;

    font-size: 55px;
    font-weight: 800;
    line-height:40px;
  }

  .Part2 p {
    padding-top: 50px;
    padding-bottom: 100px;
    text-transform: uppercase;

    font-size: 24px;
    font-weight: 500;
    line-height:40px;
  }

  .btn-survey {
    margin-right: auto;
    margin-left: 45%;
    padding: 8px 7px 7px 7px;

    transition: all 400ms ease;
    text-decoration: none;

    color: #fff;
    background-color: rgb(83, 208, 117);

    font-size: 20px;
    font-weight: 700;
  }

  .btn-about-project:hover {
    color: rgb(83, 208, 117);
    background-color: #fff;
  }

  main {
    width: 120em;
    height: 100%;

    color: #fff;
    background-color: rgb(20, 20, 20);
  }

  .Block2 h1 {
    padding-top: 40px;

    text-align: center;

    color: #fff;

    font-size: 31px;
    font-weight: 600;
    line-height: 30px;
  }

  .Block3 {
    display: block;

    width: 120em;
    padding: 20px 20px;

    justify-content: space-between;
  }

  .Block3 img {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 48%;

    align-items: center;
  }

  .Block3 p {
    margin-bottom: 20px;

    text-align: center;

    font-size: 24px;
    font-weight: 600;
    line-height:30px;
  }

  .Block4 {
    padding-left: 60px;
  }

  .Block4 h2 {
    padding-top: 40px;

    text-align: left;

    color: #fff;

    font-size: 31px;
    font-weight: 800;
    line-height: 35px;
  }

  .Block4 h3 {
    font-size: 17px;
    font-weight: 500;
  }

  .Block4 h3 a {
    margin-bottom: 16px;

    color: rgb(83, 208, 117);
  }

  .Family, .Friends, .Couples, .Active {
    margin-top: 16px;
    position: relative;
    margin-left: 60px;

    width: 112em;
    height: 69em;


    margin-bottom: 63px;
  }

  .FaderFamily, .FaderFriends, .FaderCouples, .FaderActive {
    padding-top: -16px;
    position: absolute;
    margin-left: -60px;

    width: 118em;
    height: 69em;
    margin-bottom: 63px;

    color: #fff;
  }

  .FaderFamily {
    background-color: rgba(27, 19, 1, 0.25);
  }

  .FaderFriends {
    background-color: rgba(25, 34, 36, 0.25);
  }

  .FaderCouples {
    background-color: rgba(35, 40, 40, 0.25);
  }

  .FaderActive {
    background-color: rgba(23, 41, 55, 0.25);
  }

  .FaderFamily h2, .FaderFriends h2, .FaderCouples h2, .FaderActive h2 {
    text-align: center;
    padding-top: 500px;
    padding-bottom: 300px;
  }

  .FaderFamily h2 a, .FaderFriends h2 a, .FaderCouples h2 a, .FaderActive h2 a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    font-size: 70px;
    font-weight: 500;
  }

  .FaderFamily h2 a:hover, .FaderFriends h2 a:hover, .FaderCouples h2 a:hover, .FaderActive h2 a:hover {

    background-color: rgba(27, 19, 1, 0.75);
    text-decoration: none;

    color: #fff;

    font-size: 70px;
    font-weight: 800;
  }

  .FaderFamily p, .FaderFriends p, .FaderCouples p, .FaderActive p {
    font-size: 26px;
    font-weight: 500;
    padding-left: 60px;
    padding-top: 235px;
  }

  .Family {
    background: url(img/Family.png);
    background-size: cover;
  }

  .Friends {
    background: url(img/Friends.png);
    background-size: cover;
  }

  .Couples {
    background: url(img/Couples.png);
    background-size: cover;
  }

  .Active {
    background: url(img/Active.png);
    background-size: cover;
  }

  .Block5 {
    position: relative;
    background: url(img/MachuPicchu.jpg);
    background-size: cover;
    width: 120em;
    height: 53em;
  }

  .Block5Fader {
    position: absolute;

    width: 120em;
    height: 53em;

    color: #fff;
    background-color: rgba(19, 18, 14, 0.45);
  }

  .Block5 h2 {
    text-align: center;
    padding-top: 150px;
    text-transform: uppercase;

    color: #fff;

    font-size: 35px;
    font-weight: 800;
    line-height: 30px;
  }

  .Block5.2 {
    display: block;

    width: 119em;
    padding: 20px 20px;

    justify-content: space-between;
  }

  .Block5 img {
    margin-top: 45px;
    margin-bottom: 23px;
    margin-left: 48%;

    align-items: center;
  }

  .Block5 p {
    margin-bottom: 20px;

    text-align: center;

    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
  }

  .Block5 p p {
    font-weight: 800;
  }

  .Block6 h2 {
    padding-top: 40px;
    padding-left: 60px;

    text-align: left;

    color: #fff;

    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
  }

  .Block6 h3 a {
    margin-bottom: 16px;
    padding-left: 60px;
    color: rgb(83, 208, 117);
  }

  .France {
    background: url(img/France.png);
    background-size: cover;
  }

  .Iceland {
    background: url(img/Iceland.png);
    background-size: cover;
  }

  .USA {
    background: url(img/USA.png);
    background-size: cover;
  }

  .Italy {
    background: url(img/Italy.png);
    background-size: cover;
  }

  .France, .Iceland, .USA, .Italy {
    margin-top: 16px;
    position: relative;
    margin-left: 60px;

    width: 112em;
    height: 69em;

    margin-bottom: 130px;
  }

  .FaderFrance, .FaderIceland, .FaderUSA, .FaderItaly {
    padding-top: -16px;
    position: absolute;

    width: 112em;
    height: 69em;
    margin-bottom: 50px;

    color: #fff;
  }
  .FaderFrance {
   background-color: rgba(60, 59, 50, 0.25);
 }

 .FaderIceland {
   background-color: rgba(25, 34, 36, 0.25);
 }

 .FaderUSA {
   background-color: rgba(42, 38, 36, 0.40);
 }

 .FaderItaly {
   background-color: rgba(19, 36, 47, 0.39);
 }

 .FaderFrance h2, .FaderIceland h2, .FaderUSA h2, .FaderItaly h2 {
   text-align: center;
   padding-top: 500px;
   padding-bottom: 545px;


 }

 .FaderFrance h2 a, .FaderIceland h2 a, .FaderUSA h2 a, .FaderItaly h2 a {
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;

   font-size: 70px;
   font-weight: 800;
 }

 .FaderFrance h2 a:hover, .FaderIcelands h2 a:hover, .FaderUSA h2 a:hover, .FaderItaly h2 a:hover {

    background-color: rgba(27, 19, 1, 0.75);
    text-decoration: none;

    color: #fff;

    font-size: 70px;
    font-weight: 800;
  }

  .FaderFrance p, .FaderIceland p, .FaderUSA p, .FaderItaly p, .France h3, .Iceland h3, .USA h3, .Italy h3 {
    font-size: 24px;
    font-weight: 800;
    padding-left: 60px;


  }

  .France1 p, .Iceland1 p, .USA1 p, .Italy1 p {
    font-size: 26px;
    font-weight: 500;
    padding-left: 60px;
    margin-bottom: 2px;
  }

  .France h3, .Iceland h3, .USA h3, .Italy h3 {
    color: rgb(83, 208, 117);
  }

  .Observe h3 {
   margin-top: 26px;
   margin-bottom: 100px;
 }

 .Observe h3 a {
   text-decoration: none;
   margin-top: 26px;
   padding-left: 60px;
   color: rgb(83, 208, 117);
   font-size: 24px;
   font-weight: 700;
 }

 .Block7 {
   background-color: rgb(20, 20, 20);
 }

 .Block7 h2 {
   padding-top: 40px;


   text-align: center;

   color: #fff;

   font-size: 35px;
   font-weight: 500;
   line-height: 30px;
   margin-bottom: 70px;
 }

 .Block7Img2 img, .Block7Img3 img {
   width: 28em;
   height: 28em;
 }

 .Block7Img2 img, .Block7Img3 img {
   width: 28em;
   height: 450px;
 }

 a.rollover:hover img {
   opacity: 1;
   background-color: (0, 0, 0, 0.25)
   cursor: pointer;
 }

 .Block7Img2, .Block7Img3 {
   margin-left: 270px;
 }

 .footer {
   margin-left: 1740px;
   margin-top: 40px;
   margin-bottom: 50px;
 }
}
