@import "reset.css";
@import "layout.css";
@import "responsive.css";

* {
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
